<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >


<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
</svg>      <span class="ml-3 text-xl">Contact</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a  href="{{url_for("home")}} "class="mr-5 hover:text-white">Home</a>
         <a  href="{{url_for("skills")}} "class="mr-5 hover:text-white">Skill's</a>

           <a  href="{{url_for("education")}} " class="mr-5 hover:text-white">Education</a>
      <a href="{{url_for("form")}} "  class="mr-5 hover:text-white">Contact</a>
    </nav>
   
  </div>
</header>


<form action="{{url_for("form")}}" method="POST">

<section class="text-gray-400 bg-gray-900 body-font relative" id="contact">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Contact Me</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Feel free to reach out. Your message will be stored securely in my MySQL database and will remain completely anonymous.
      </p>
    </div>

    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">

        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-400">Name </label>
            <input type="text" id="name" name="name"
              class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 
              focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 
              leading-8 transition-colors duration-200 ease-in-out" required>
          </div>
        </div>

        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="email" class="leading-7 text-sm text-gray-400">Email  (Optional)</label>
            <input type="email" id="email" name="email"
              class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 
              focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 
              leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>

        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-400">Your Message</label>
            <textarea id="message" name="message"
              class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 
              focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 
              resize-none leading-6 transition-colors duration-200 ease-in-out" required></textarea>
          </div>
        </div>

        <div class="p-2 w-full">
          <button type="submit"
            class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none 
            hover:bg-indigo-600 rounded text-lg">
            Send Message
          </button>
        </div>

        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
          <a class="text-indigo-400">ns6685509@gmail.com</a>
          <p class="leading-normal my-5">
            I usually reply within 48 hours.
          </p>

         
        </div>
      </div>
    </div>
  </div>
</section>

</form>


<footer class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                <span class="ml-3 text-xl"></span>
      </a>
      <p class="mt-2 text-sm text-gray-500"></p>
    </div>
              </div>
    </div>
  </div>
  <div class="bg-gray-800 bg-opacity-75">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-400 text-sm text-center sm:text-left">Maintained and developed by Navpreet Singh
           </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
             
        <a href="https://www.linkedin.com/in/navpreet-singh-524512294/"class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
 </body>
</html>